*.iml
*/google-services.json
.DS_Store
.cxx
.externalNativeBuild
.gradle
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.kotlin/*
/build
/captures
/local.properties
local.properties
codecov
codecov.yaml
*.sh
/.idea/deviceManager.xml
